<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocodrilos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <main>
        <div>
            <img src="{{ url_for('static', filename='cocodrilo-sobre-circulo-low.png') }}" alt="imagen-cocodrilo" width="250" height="200">
            <h1>Cocodrilo</h1>
            <div>
                <p class="pregunta">Clasificación de imágenes: ¿Es un cocodrilo o no?</p>
            </div>
        </div>
        <hr>
        <div class="content-elements">
            <button id="btn-cambiar-camara" onclick="cambiarCamara();">Cambiar cámara</button>
            <img src="{{ url_for('video') }}" alt="imagen_video" width="600" height="400">
        </div>
    </main>
</body>
</html>
